doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Francois+One', rel='stylesheet', type='text/css')
	body
		include templates/template
		block content
		block footer

		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/javascripts/main.js')

